body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: #4CAF50;
}
h2 {
    text-align: center;
}
table {
    border-collapse: collapse;
    background-color: rgb(227, 227, 227);
}
th, td {
    border: 1px solid black;
    padding: 8px 4px;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    width: 30px;
    height: 1em;
  }
tr:nth-child(even) {
    background-color: #f5f5f5;
}
th {
    background-color: grey;
    color: white;
}
th:hover {
    opacity: 0.69;
    background-color: white;
    color: black;
}
td:hover {
    opacity: 0.69;
    background-color: white;
}
#editCellInput {
    display: table-cell;
    width: fit-content;
    width: 87%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 1em;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 6px #999;
}
button:hover {
    opacity: 0.8;
}
button:disabled {
    opacity: 1;
    cursor:auto;
    box-shadow: 0 2px #999;
    border: 1.5px solid rgb(70, 70, 70);
}
body {
    margin: 0;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}
.page header {
    display: flex;
    background: rgb(240, 240, 240);
    height: 85px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#pageSection {
    display: flex;
    width: 100%;
    min-height: 300px;
    flex-grow: 1;
}
.page section nav {
    display: flex;
    background: rgb(221, 221, 221);
    padding: 1em;
    flex-direction: column;
    width: 15%;
    max-width: 150px;
    flex-shrink: 0;
}
.page section nav button {
    margin: 0.5em 0em;
}
#main {
    padding: 1em;
    background: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#appendColumnsLabel, #appendRowsLabel {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#appendRowsLabel {
    width: fit-content;
    justify-content: center;
}
#appendColumnsLabel:hover {
    opacity: 0.8;
    animation: horizontalMove 1.2s ease-in-out infinite;
}

#appendRowsLabel:hover {
    opacity: 0.8;
    animation: verticalMove 1.2s ease-in-out infinite;
}

@keyframes horizontalMove {
    0% { transform: translateX(0%); }
    50% { transform: translateX(21%) scale(1.1, 0.85); }
    100% { transform: translateX(0%); }
  }
  
  
@keyframes verticalMove {
    0% { transform: translateY(0%); }
    50% { transform: translateY(21%) scale(0.85, 1.1); }
    100% { transform: translateY(0%); }
  }

#appendColumns, #appendRows {
    display: none;
}
#appendRowsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tablePlusButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: initial;
    container-type: inline-size;
}

#excelDataTable {
    white-space: nowrap;
}
#upAndDown{
    margin-bottom: 1em;
    height: fit-content;
}
#upAndDown label{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
}
#upAndDown label:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
#upAndDown label {
    margin: 0.5em 0;
    padding: 0.7em 0.5em;
}
#upAndDown input {
    display: none;
}
#buttonDownload {
    display: none;
}
#upAndDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.page footer {
    display: flex;
    background: rgb(232, 232, 232);
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .page section{
        flex-direction: column-reverse;
    }
    .page header {
        height: 69px;
    }
    .page header h1{
        margin: 0 0;
    }
    .page section nav{
        order: 1;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    .page section nav h2{
        margin: 0 0;
    }
    #main{
        order: -1;
    }
}